section {
  display: grid;
  grid-template-areas: "one two three";
  text-align: center;
  margin-top: 5.7%;
}

body {
  > h1 {
    text-align: center;
    margin-top: 6%;
  }
}

img {
  border-radius: 40px;
  border: 2px solid brown;
}

.pudding {
  grid-area: one;
}

.mac {
  grid-area: two;
}

.oreo {
  grid-area: three;
}

div {
  font-size: 20px;
}
